#main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#title {
  font-size: 35px;
}
#image {
  max-width: 100%;
  height: auto;
  display: block;
}
#img-caption {
  text-align: center;
  font-size: 18px;
}